@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
    height: 100%;
    font-family: Roboto !important;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 70vh;
    padding-bottom: 40px;
    background-color: #000000 !important;
    background-image: url('../img/rewards.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff !important;
}

#wrapper {
    max-width: 650px;
    width: 100%;
    padding: .5em 1.5em;
}  

@media (max-width: 768px) {
    body {
        padding-top: 55vh;
    }

    #wrapper {
        padding: 1em 1rem;
    }
}

#wrapper p {
    font-weight: bold !important;
}

#wrapper h1,
#wrapper h2 {
    font-weight: bolder;
}

#wrapper main {
    padding: 1.5em 0;
}

#btn-start hr,
#btn-stop hr {
    margin: 0.5em;
}

#btn-stop {
    display: none;
}

#div-settings,
#div-timer {
    font-size: 0.7em;
}

#modal-help {
    color: #000;
}

#modal-help ol li {
    padding: 0.3em 0;
}

#modal-help .form-check-label {
    cursor: pointer;
}

#div-bing {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
}

#wrapper h1,
#wrapper h2 {
    opacity: 0.8;
}